/*  base page  */
body {
  background-image: url('../public/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh; 
  margin: 0; 
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

/*  title   */
.page-title-container {
  margin-top: 150px;
  width: 100%;
  font-size: 50px;
  color: white;
  font-size: 65px;
  align-items: center;

  background-color: rgba(88, 60, 8, 0.5); 
  padding: 10px; 
  border-radius: 10px; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

.page-title-container a {
  color: inherit; 
  text-decoration: none; 
}

.page-title-container a:visited {
  color: inherit; 
}

/*  search & gallery selectors  */
.sections {
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

nav ul li {
  display: inline;
  font-size: 25px;
  color: white;
  margin-right: 30px;
}

.sections a {
  text-decoration: none;
  font-size: 40px;
  color: white;
  transition: color 0.3s ease;

  position: relative;
  display: inline-block;
  padding: 10px;
}

.sections a:visited {
  color: inherit; 
}

.sections a:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
  color: rgba(88, 60, 8);
}

.sections a:hover::before {
  opacity: 1;
}

.sections a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  filter: blur(10px);  
  z-index: -1; 
  opacity: 0;  
  transition: opacity 0.3s ease;
}

/*  content   */
.content-box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4a1212;
  margin: 20px;
  font-size: 18px;
  background-color: #b01616;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}

/*  gallery   */
.gallery-container {
  padding: 20px;
  text-align: center;
  width: 100%; 
  margin: 0 auto; 
}

.load_more_button {
  margin-top: 10px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px);
  outline: none;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  border-radius: 4px;
  color: white;

  transition: background 0.3s ease, box-shadow 0.3s ease; 
}

.load_more_button:hover {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  outline: none;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  border-radius: 4px;
  color: white;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.loading-text {
  color:white;
}

.toggle-button {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

/*  search   */
.search-container {
  padding: 20px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.search-container input {
  font-family: 'Times New Roman', Times, serif;
}

.search-bar::placeholder {
  color: white; 
  opacity: 1; 
}

.search-bar {
  padding: 10px;
  color: white;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  width: 400px;

    
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: background 0.3s ease, box-shadow 0.3s ease; 
}

.search-bar:focus {
  border: none; 
  outline: none; 
}

.sort-options {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
}

.sort-select {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  background-color: black;
  padding: 10px; 
  border-radius: 8px; 
  border: none; 
  width: 100px; 
  appearance: none; 
  outline: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  cursor: pointer; 

  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: background 0.3s ease, box-shadow 0.3s ease; 
}

.sort-select option {
  color: white;
  background-color: rgba(88, 60, 8); 
  padding: 10px;
}

.sort-select:hover {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: background 0.3s ease, box-shadow 0.3s ease; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.sort-select:focus {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: background 0.3s ease, box-shadow 0.3s ease; 
  border: none;
}

.asc_desc_button {
  padding: 5px; 
  border-radius: 8px; 
  color: white;
  font-family: 'Times New Roman', Times, serif;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, box-shadow 0.3s ease; 
  border: none; 
}

/*  artworks  */
.artworks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid layout */
  gap: 15px;
  justify-items: center;
  margin-top: 0px;
  width: 100%;
  height: 450px;
  overflow-y: auto;
}

.artwork-item {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  border: none; 
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 150px; 
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.artwork-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.artwork-item p {
  font-size: 14px;
  margin-top: 8px;
  color: white;
}

/*  detail view   */
.artwork-detail-container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(10px); 
  border-radius: 8px;
}

.artwork-detail-container p {
  color: rgba(88, 60, 8);
  margin-left: 10px;
  margin-right: 10px;
}

.artwork-detail-container h2 {
  color: rgba(88, 60, 8);
  margin-left: 15px;
  margin-right: 15px;
}

.artwork-detail-image {
  width: 400px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navigation-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(88, 60, 8, 0.5);
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.navigation-buttons button:hover {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: background 0.3s ease, box-shadow 0.3s ease;
  border: none; 
}